/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */

/* MAIN */
.container {
	display: flex;
	flex-direction: column;
	color: rgba(0, 0, 0, 0.8);
	margin-top: 4rem;
	font-family: Montserrat;
}
.title {
	text-align: center;
}

/* PDP TOP */
.pdp-top-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.product-div {
	display: flex;
	justify-content: center;
	width: 50%;
}
.addtocart-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}
@media only screen and (max-width: 1333px) {
	.pdp-top-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap-reverse;
		justify-content: center;
	}
}
/* .product-img-div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	width: 50%;
	height: auto;
}
.thumbnail-div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 98px;
}
img.thumb {
	display: flex;
	width: 48px;
	height: 48px;
}

.lg-img-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	height: 100%;
	width: auto;
}
img.large {
	display: flex;
	width: 100%;
	max-width: 400px;
	height: auto;
}
.gmo-div {
	display: flex;
	flex-direction: row;
	justify-self: center;
	border-top: 1px solid rgba(0, 0, 0, 0.16);
	width: 50%;
	margin-top: 2rem;
}
.icon-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2px auto;
	padding: 0.5rem;
	margin-top: 0.5rem;
}
img.gmo-icons {
	display: flex;
	max-height: 50px;
	width: auto;
} */

img.product {
	max-width: 100%;
	height: auto;
}
img.addtocart {
	display: flex;
	max-width: 100%;
	max-width: fit-content;
	height: auto;
}
h1.pdp-name {
	font-size: 2em;
	font-weight: 700;
	line-height: 1.2;
	color: rgba(0, 0, 0, 0.8);
	margin: 0 0 4px;
}

.list-items {
	font-size: 1em;
}

/* DETAILS */
.details-container {
	margin: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #f9f9f9;
}
.details {
	display: flex;
	width: 60%;
}
.details-div {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 0 1rem;
}
.details-div h3 {
	margin-bottom: 10px;
}
.details-div p {
	margin-top: 0px;
}

/* RESULTS */
.results-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}
.results-div {
	display: flex;
	flex-direction: row;
	width: 75%;
}
h1.results-h1 {
	font-family: Montserrat !important;
}
.list-div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
ul.no-list {
	list-style: none;
}
li.no-list-items {
	font-size: large;
}

.ingredients-div {
	display: flex;
	flex-direction: column;
	margin-top: 5%;
}
.ingredients-row {
	display: flex;
	flex-direction: row;
}
.card {
	display: flex;
	flex-direction: column;
	transition: 0.3s;
	width: 100%;
	padding: 10px;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-row {
	display: flex;
	flex-direction: row;
}
h4.card-title {
	color: red;
	width: 50%;
}
img.bottle-icon {
	width: 20px;
	max-width: 100%;
	height: auto;
}
img.ingredient {
	width: 50%;
	max-height: 200px;
	width: auto;
	margin: 5px 5px;
	padding: 10px;
}
